<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <p v-if="ok">ok</p>
    <p v-else-if="maybeOk">maybe</p>
    <p v-else>not ok</p>

    <hr>
    <template v-if="ok2">
      <p>if a</p>
      <p>if b</p>
      <p>if c</p>
    </template>
    <p v-show="ok2">show</p>
    <button @click="ok2 = !ok2">button</button>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        ok: false,
        maybeOk: true,
        ok2: true
      },
    });
  
  </script>

</body>
</html>